asgiref==3.11.0
astroid==4.0.3
dill==0.4.0
Django==6.0.1
django-cors-headers==4.9.0
django-jazzmin==3.0.1
django-rest-framework==0.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
isort==7.0.0
mccabe==0.7.0
platformdirs==4.5.1
psycopg2-binary==2.9.11
PyJWT==2.10.1
pylint==4.0.4
python-dotenv==1.2.1
sqlparse==0.5.5
tomlkit==0.13.3
whitenoise==6.11.0
